
<div class="container" style="min-width: 45rem; max-height: 45rem;" >

  <div class="row">
    <div class="col-md-12">
      <div id="loader-lista-cupon" class="d-flex justify-content-center align-items-center loader-container" [ngClass]="{'hide-loader': !loading}">
        <span class="loader"></span><br>
        <h2 style="color: white;">&nbsp;Cargando...</h2>
      </div>
      <br>
      <h5>Referencias Comerciales de la Empresa</h5><br>
      <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8" matSort>
        <ng-container matColumnDef="name" >
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center"> Proveedor </th>
          <td mat-cell *matCellDef="let provider" class="text-left" >
            {{provider.name}}
          </td>
        </ng-container>
        <ng-container matColumnDef="telephone">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center"> Telefono </th>
          <td mat-cell *matCellDef="let provider" class="text-center" >
            {{provider.telephone}}
          </td>
        </ng-container>
        <ng-container matColumnDef="country" >
          <th mat-header-cell *matHeaderCellDef  mat-sort-header class="text-center"> País</th>
          <td mat-cell *matCellDef="let provider" class="text-center">
            {{provider.country}} <span class="fi fi-{{provider.flagCountry}}" style="font-size: 20px;"></span>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
          <tr mat-row *matRowDef="let empresa; columns: columnsToDisplay;"class=""></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[10, 20, 30]" class="w-100 form-red"></mat-paginator>

    </div>
  </div>
</div>
