<div id="loader-lista-cupon" class="d-flex justify-content-center align-items-center loader-container" [ngClass]="{'hide-loader': !loading}">
  <span class="loader"></span><br>
  <h2 style="color: white;">&nbsp;Cargando...</h2>
</div>
<div class="container" style="min-width: 65rem;" >
  <div class="row ">
    <div class="card">
      <div class="materialTableHeader mt-3" >
        <div class="left">
          <ul class="header-buttons-left ms-0">
            <li class="tbl-title" style="font-size: 24px;">
              <b>Adjuntar Archivos al Cupón {{cupon}}</b>
            </li>
          </ul>
        </div>
        <div class="right">
          <ul class="tbl-export-btn">
            <li class="tbl-header-btn">
              <div class="m-l-10" >
                <button mat-mini-fab class="bg-red" style="margin: 0 .5rem .5rem .5rem;"  matTooltip="Salir" (click)="cerrarDialog()">
                  <mat-icon class="col-white">logout</mat-icon>
                </button>
              </div>
            </li>
            <li class="tbl-header-btn">
              <div class="m-l-10" >
                <button mat-mini-fab #tooltip="matTooltip"   style="margin: 0 .5rem .5rem .5rem;" class="btn shadow" (click)="downloadZip()" [ngClass]="adjuntos.length > 0 ? 'bg-blue' : 'bg-grey'" matTooltip="Descargar Todos" [disabled]="adjuntos.length === 0">
                  <mat-icon class="col-white">folder_zip</mat-icon>
                </button>
              </div>
            </li>
            <li class="tbl-header-btn">
              <div class="m-l-10" >
                <button mat-mini-fab class="bg-cyan" style="margin: 0 .5rem .5rem .5rem;" #tooltip="matTooltip" matTooltip="Agregar Archivo" (click)="subirArchivo()">
                  <mat-icon class="col-white">upload</mat-icon>
                </button>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-12 mb-3">
      <ng-scrollbar style="height: 285px" class="mat-elevation-z8 " visibility="hover">
        <ul class="list-unstyled m-3">
          <div class="row">
            <div class="col-md-5">
              <h4>Planillas y formatos</h4>
              <li class="d-flex mb-3">
                <span class="msr-3 align-self-center img-icon primary-rgba text-primary">
                  <i class="far fa-file-word" style="font-size: 24px;"></i>
                </span>
                  <h6 class="font-14">Planilla Negocios Personas </h6>
                <div class="ms-auto">
                  <td>
                    <button mat-icon-button #tooltip="matTooltip" class="btn bg-teal shadow" matTooltip="Descargar" (click)="descargarArchivo('https://informesdrr.com/front/assets/formatos/Planilla_Negocios_Personales.doc','Planilla_Negocios_Personales.doc')">
                      <i class="fa-solid fa-download" style="font-size: 16px; color: white;"></i>
                    </button>
                  </td>
                </div>
              </li>
              <li class="d-flex mb-3">
                <span class="msr-3 align-self-center img-icon primary-rgba text-primary">
                  <i class="far fa-file-word" style="font-size: 24px;"></i>
                </span>
                  <h6 class="font-14">Planilla Reportero </h6>
                <div class="ms-auto">
                  <td>
                    <button mat-icon-button #tooltip="matTooltip" class="btn bg-teal shadow" matTooltip="Descargar" (click)="descargarArchivo('https://informesdrr.com/front/assets/formatos/Planilla_Reportero.doc','Planilla_Reportero.doc')">
                      <i class="fa-solid fa-download" style="font-size: 16px; color: white;"></i>
                    </button>
                  </td>
                </div>
              </li>
            </div>
            <div class="col-md-7">
              <h4>Documentos Adjuntos</h4>
              <li class="d-flex mb-3" *ngFor="let attachment of adjuntos">
                <span class="msr-3 align-self-center img-icon primary-rgba text-primary" *ngIf="attachment.extension === '.doc' || attachment.extension === '.docx'">
                  <i class="far fa-file-word" style="font-size: 24px;"></i>
                </span>
                <span class="msr-3 align-self-center img-icon success-rgba text-success" *ngIf="attachment.extension === '.xls' || attachment.extension === '.xlsx'">
                  <i class="far fa-file-excel" style="font-size: 24px;"></i>
                </span>
                <span class="msr-3 align-self-center img-icon danger-rgba text-danger" *ngIf="attachment.extension === '.pdf'">
                  <i class="far fa-file-pdf" style="font-size: 24px;"></i>
                </span>
                <span class="msr-3 align-self-center img-icon info-rgba text-secondary" *ngIf="attachment.extension === '.txt'">
                  <i class="far fa-file-archive" style="font-size: 24px;"></i>
                </span>
                <span class="msr-3 align-self-center img-icon info-rgba text-info" *ngIf="attachment.extension === '.png' || attachment.extension === '.jpg'">
                  <i class="fa-regular fa-file-image" style="font-size: 24px;"></i>
                </span>
                <span class="msr-3 align-self-center img-icon info-rgba text-success" *ngIf="attachment.extension === '.xml'">
                  <i class="fa-regular fa-file-code" style="font-size: 24px;"></i>
                </span>
                <div class="set-flex">
                  <h5 class="font-14 mb-1">{{attachment.name}} (Subido el : {{attachment.uploadDate}})</h5>
                </div>
                
                <div class="ms-auto">
                  <td class="d-flex">
                    <button mat-icon-button #tooltip="matTooltip" class="btn bg-teal shadow" matTooltip="Descargar" (click)="downloadFile(attachment.id, attachment.name)">
                      <i class="fa-solid fa-download" style="font-size: 16px; color: white;"></i>
                    </button>
                    <button mat-icon-button #tooltip="matTooltip" class="btn bg-red shadow" matTooltip="Quitar" (click)="borrarAttachment(attachment.id)">
                      <i class="fa-solid fa-trash" style="font-size: 16px; color: white;"></i>
                    </button>
                  </td>
                </div>
              </li>
            </div>
          </div>

        </ul>
        <ul class="list-unstyled m-3">

        </ul>
      </ng-scrollbar>
    </div>
  </div>
</div>
