<section class="content">
  <div id="loader-lista-persona" class="d-flex justify-content-center align-items-center loader-container" [ngClass]="{'hide-loader': !loading}">
    <span class="loader"></span><br>
    <h2 style="color: white;">&nbsp;Cargando...</h2>
  </div>
  <div class="container-fluid" [ngClass]="{'show-form': loading}" style="width: 100%; margin: 0; padding: 0;">
    <div class="block-header" *ngFor="let breadscrum of breadscrums">
      <app-breadcrumb [title]="breadscrum.title" [subtitle]="breadscrum.subtitle" [codigoInforme]="''" [usuario]="breadscrum.usuario" [items]="breadscrum.items" [active_item]="breadscrum.active">
      </app-breadcrumb>
    </div>
    <div class="row">
      <div class="col-md-12 p-0">
        <div class="card shadow " style="border-radius: 0; background-color: #dae1f3; width: 100%;" >
          <div class="row" >
            <div class="col-md-2 p-0">
              <mat-form-field class="w-100" style="padding-top: 1rem; padding-left: 1rem;">
                <mat-label>Buscar por</mat-label>
                <mat-select [(ngModel)]="filterBy" >
                  <mat-option [value]="'N'">Por Nombre Completo</mat-option>
                  <mat-option [value]="'C'">Por Nombre Social</mat-option>
                  <mat-option [value]="'D'">Por Dirección</mat-option>
                  <mat-option [value]="'R'">Por Documento de Identidad</mat-option>
                  <mat-option [value]="'T'">Por Celular</mat-option>
                  <mat-option [value]="'S'">Por Nombre Solicitado</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div *ngIf="filterBy!=='S'" class="col-md-1 p-0 d-flex align-items-center">
              <mat-checkbox class="example-margin" [(ngModel)]="chkConInforme">Con Informe</mat-checkbox>
            </div>
            <div *ngIf="filterBy==='S'" class="col-md-4 p-0">
              <mat-form-field class="w-100" style="padding-top: 1rem; padding-left: 1rem;" >
                <mat-label>Nombre Solicitado</mat-label>
                <input matInput placeholder="Ej. ALICORP SA" [(ngModel)]="nombreCompleto" (keypress)="filtrar($event);">
                <button matSuffix mat-icon-button color="primary" style="background-color: rgba(0,0,0,0);" *ngIf="nombreCompleto !== ''" (click)="nombreCompleto = ''" #tooltip="matTooltip" matTooltip="Limpiar">
                  <i class="fa-solid fa-xmark" style="color: black; font-size: 20px;"></i>
                </button>
              </mat-form-field>
            </div>
            <div *ngIf="filterBy!=='S'" class="col-md-3 p-0">
              <mat-form-field class="w-100" style="padding-top: 1rem; padding-left: 1rem;" >
                <mat-label *ngIf="filterBy === 'N'">Nombre Completo</mat-label>
                <mat-label *ngIf="filterBy === 'C'">Nombre Social</mat-label>
                <mat-label *ngIf="filterBy === 'D'">Dirección</mat-label>
                <mat-label *ngIf="filterBy === 'R'">Documento de Identidad</mat-label>
                <input matInput  [(ngModel)]="nombreCompleto" (keypress)="filtrar($event);">
                <button matSuffix mat-icon-button color="primary" style="background-color: rgba(0,0,0,0);" *ngIf="nombreCompleto !== ''" (click)="nombreCompleto = ''" #tooltip="matTooltip" matTooltip="Limpiar">
                  <i class="fa-solid fa-xmark" style="color: black; font-size: 20px;"></i>
                </button>
              </mat-form-field>
            </div>
            <div *ngIf="filterBy!=='S'" class="col-md-2 p-0 d-flex align-items-center">
              <mat-radio-group class="d-flex" [(ngModel)]="filtroRB" aria-label="Seleccionar">
                <mat-radio-button value="C">Que Contenga</mat-radio-button>
                <mat-radio-button value="I">Que Inicie</mat-radio-button>
              </mat-radio-group>
            </div>
            <div class="col-md-1  p-0">
              <mat-form-field class="w-100" style="padding-top: 1rem; padding-left: 1rem;">
                <mat-label>Calidad</mat-label>
                <mat-select [(ngModel)]="quality" >
                  <mat-option [value]="'T'">Todos</mat-option>
                  <mat-option [value]="'A'">A</mat-option>
                  <mat-option [value]="'B'">B</mat-option>
                  <mat-option [value]="'C'">C</mat-option>
                  <mat-option [value]="'D'">D</mat-option>
                  <mat-option [value]="'X'">Sin Calidad</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div *ngIf="filterBy!=='S'" class="col-md-2 p-0">
              <mat-form-field class="w-100" style="padding-top: 1rem; padding-left: 1rem;">
                <mat-label>País</mat-label>
                <input type="text" matInput [formControl]="controlPaises" [matAutocomplete]="auto6" [(ngModel)]="paisSeleccionado" (ngModelChange)="cambioPais(paisSeleccionado)">
                <button class="btn-traduccion" matSuffix mat-icon-button (click)="limpiarSeleccionPais()">
                  <span class="fi fi-{{iconoSeleccionado}}" style="font-size: 20px;"></span>
                </button>
                <mat-autocomplete #auto6="matAutocomplete" [displayWith]="displayPais" >
                  <mat-option *ngFor="let pais of filterPais | async" [value]="pais">
                    <span class="fi fi-{{pais.bandera}}"></span>
                    {{pais.valor}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </div>
            <div class="col-md-1 p-0 d-flex align-items-center justify-content-center">
              <div class="" matTooltip="BUSCAR" style="margin: 0 .5rem 0 .5rem">
                <button mat-mini-fab class="bg-blue" (click)="filtrarPersonas()">
                  <mat-icon class="col-white">search</mat-icon>
                </button>
              </div>
              <div class="" matTooltip="LIMPIAR" style="margin: 0 .5rem 0 .5rem">
                <button mat-mini-fab class="bg-red" (click)="limpiar()">
                  <mat-icon class="col-white">cleaning_services</mat-icon>
                </button>
              </div>

              <div class="" matTooltip="NUEVO INFORME (OR)" style="margin: 0 .5rem 0 .5rem">
                <button mat-mini-fab color="primary" (click)="agregarPersona()">
                  <mat-icon class="col-white">add</mat-icon>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card shadow " style="border-radius: 0; background-color: #dae1f3;">
          <div class="row">
            <div class="col-md-4">
              <mat-form-field class="w-100" style="padding-top: 1rem; padding-left: 1rem;" >
                <mat-label>Nombres y Apellidos</mat-label>
                <input matInput placeholder="" [(ngModel)]="nombreCompleto" (keypress)="filtrar($event);">
                <button matSuffix mat-icon-button color="primary" style="background-color: rgba(0,0,0,0);" *ngIf="nombreCompleto !== ''" (click)="nombreCompleto = ''" #tooltip="matTooltip" matTooltip="Limpiar">
                  <i class="fa-solid fa-xmark" style="color: black; font-size: 20px;"></i>
                </button>
              </mat-form-field>
            </div>
            <div class="col-md-2 d-flex align-items-center">
              <mat-radio-group class="d-flex" [(ngModel)]="filtroRB" aria-label="Seleccionar">
                <mat-radio-button value="C">Que Contenga</mat-radio-button>
                <mat-radio-button value="I">Que Inicie</mat-radio-button>
              </mat-radio-group>
            </div>
            <div class="col-md-3">
              <mat-form-field class="w-100" style="padding-top: 1rem; padding-left: 1rem;">
                <mat-label>País</mat-label>
                <input type="text" matInput [formControl]="controlPaises" [matAutocomplete]="auto6" [(ngModel)]="paisSeleccionado" (ngModelChange)="cambioPais(paisSeleccionado)">
                <button class="btn-traduccion" matSuffix mat-icon-button (click)="limpiarSeleccionPais()">
                  <span class="fi fi-{{iconoSeleccionado}}" style="font-size: 20px;"></span>
                </button>
                <mat-autocomplete #auto6="matAutocomplete" [displayWith]="displayPais" >
                  <mat-option *ngFor="let pais of filterPais | async" [value]="pais">
                    <span class="fi fi-{{pais.bandera}}"></span>
                    {{pais.valor}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </div>
            <div class="col-md-1 d-flex align-items-center">
              <mat-checkbox class="example-margin" [(ngModel)]="chkConInforme">Con Informe</mat-checkbox>
            </div>
            <div class="col-md-2 d-flex align-items-center justify-content-center">
              <div class="" matTooltip="BUSCAR" style="margin: 0 .5rem 0 .5rem">
                <button mat-mini-fab class="bg-blue" (click)="filtrarPersonas()">
                  <mat-icon class="col-white">search</mat-icon>
                </button>
              </div>
              <div class="" matTooltip="LIMPIAR" style="margin: 0 .5rem 0 .5rem">
                <button mat-mini-fab class="bg-red" (click)="limpiar()">
                  <mat-icon class="col-white">cleaning_services</mat-icon>
                </button>
              </div>
              <div class="" matTooltip="NUEVO INFORME (OR)" style="margin: 0 .5rem 0 .5rem">
                <button mat-mini-fab color="primary" (click)="agregarPersona()">
                  <mat-icon class="col-white">add</mat-icon>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div> -->
      <div class="col-md-12" style="overflow-x: auto;">
        <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8" matSort>
          <ng-container matColumnDef="creditRisk" >
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center"> RC </th>
            <td mat-cell *matCellDef="let persona" class="text-center" style="border-radius: 10px;" [class]="persona.creditRisk ==='A+' ? 'bg-green' : persona.creditRisk === 'A-' ? 'l-bg-green' : persona.creditRisk === 'B' ? 'bg-yellow' : persona.creditRisk === 'C' ? 'bg-orange' : persona.creditRisk === 'D' ? 'bg-red' : persona.creditRisk === 'E' ? 'bg-black col-white' : persona.creditRisk === 'NN' ? 'bg-grey' : '' ">
              <b style="font-size: 20px;">{{persona.creditRisk}}</b>
            </td>
          </ng-container>
          <ng-container matColumnDef="language" >
          <th mat-header-cell *matHeaderCellDef  mat-sort-header class="text-center"> Idioma</th>
          <td mat-cell *matCellDef="let persona" class="text-center">
            <span class="fi fi-es" style="font-size: 24px;" *ngIf="persona.language === 'E'"></span>
            <span class="fi fi-us" style="font-size: 24px;" *ngIf="persona.language === 'I'"></span>
            <span class="fi fi-us" style="font-size: 24px; background-image: url(./../../../../../../assets/images/us-es.png);" *ngIf="persona.language === 'A'"></span>
            </td>
          </ng-container>
          <ng-container matColumnDef="name" >
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center"> Nombre Completo</th>
          <td mat-cell *matCellDef="let persona" class="" style="min-width: 15rem;">

            <a [href]="'#/informes/persona/detalle/'+persona.id" target="_blank" rel="noopener noreferrer"><b>{{persona.fullname}}</b></a>

          </td>
          </ng-container>
          <ng-container matColumnDef="taxNumber" >
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center"> Doc. de Identidad</th>
            <td mat-cell *matCellDef="let persona" class="text-center">{{persona.documentType}} - {{persona.codeDocumentType}}</td>
          </ng-container>
          <ng-container matColumnDef="lastReportDate" >
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center"> Datos Al</th>
            <td mat-cell *matCellDef="let persona" class="text-center">{{persona.lastSearched}}</td>
          </ng-container>
          <ng-container matColumnDef="country" >
            <th mat-header-cell *matHeaderCellDef  mat-sort-header class="text-center"> País</th>
            <td mat-cell *matCellDef="let persona" class="text-center">
              {{persona.country}} <span class="fi fi-{{persona.flagCountry}}" style="font-size: 20px;"></span>
            </td>
          </ng-container>
          <ng-container matColumnDef="traductionPercentage" >
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center"> Traducción</th>
            <td mat-cell *matCellDef="let persona" class="text-center">
              {{persona.traductionPercentage}}%
              <mat-progress-bar mode="determinate" value="{{persona.traductionPercentage}}" *ngIf="persona.traductionPercentage > 40"></mat-progress-bar>
              <mat-progress-bar mode="determinate" value="{{persona.traductionPercentage}}" color="warn" *ngIf="persona.traductionPercentage <= 40"></mat-progress-bar>
            </td>
          </ng-container>
          <ng-container matColumnDef="quality" >
            <th mat-header-cell *matHeaderCellDef  mat-sort-header mat-sort-header class="text-center"> Calidad</th>
            <td mat-cell *matCellDef="let persona" class="text-center">
              <span class="fa fa-star " [class]="persona.quality === 'A' || persona.quality === 'B' ||persona.quality === 'C' || persona.quality === 'D' ? 'checked' : '' "></span>
              <span class="fa fa-star "  [class]="persona.quality === 'A' ||persona.quality === 'B' ||persona.quality === 'C' ? 'checked' : ''"></span>
              <span class="fa fa-star "  [class]="persona.quality === 'A' ||persona.quality === 'B' ? 'checked' : ''"></span>
              <span class="fa fa-star " [class]="persona.quality === 'A' ? 'checked' : ''"></span>
            </td>
          </ng-container>
          <ng-container matColumnDef="birthDate" >
            <th mat-header-cell *matHeaderCellDef mat-sort-header mat-sort-header class="text-center"> Fecha de Nacimiento</th>
            <td mat-cell *matCellDef="let persona" class="text-center">{{persona.birthDate}}</td>
          </ng-container>
          <ng-container matColumnDef="profession" >
            <th mat-header-cell *matHeaderCellDef mat-sort-header mat-sort-header class="text-center"> Profesión</th>
            <td mat-cell *matCellDef="let persona" class="text-center">{{persona.profession}}</td>
          </ng-container>
          <ng-container matColumnDef="acciones" >
            <th mat-header-cell *matHeaderCellDef  class="text-center" style="min-width: 16rem;"> Acciones </th>
            <td mat-cell *matCellDef="let persona" class="text-center ">
              <a [routerLink]="'/informes/persona/detalle/'+persona.id" mat-mini-fab class="btn bg-white" matTooltip="Editar">
                <app-feather-icons [icon]="'edit'" class="tbl-fav-edit"></app-feather-icons>
              </a>
              <button  mat-mini-fab class="bg-white" matTooltip="Socios" (click)="sociosPersona(persona.id)">
                <app-feather-icons [icon]="'users'" class="tbl-fav-socios"></app-feather-icons>
              </button>
              <button  mat-mini-fab class="bg-white" matTooltip="Generar Documento" (click)="descargarDocumento(persona.id, persona.oldCode,'E','pdf')">
                <app-feather-icons [icon]="'file-text'" class="tbl-fav-pdf"></app-feather-icons>
              </button>
              <!--button  mat-mini-fab class="bg-white" matTooltip="" *ngIf="persona.enable" (click)="desactivarWebPersona(persona.id)" matTooltip="Desactivar">
                <app-feather-icons [icon]="'globe'" class="tbl-fav-web"></app-feather-icons>
              </!--button>
              <button--  mat-mini-fab class="bg-white" matTooltip=""  *ngIf="!persona.enable" (click)="activarWebPersona(persona.id)" matTooltip="Activar">
                <app-feather-icons [icon]="'globe'" class="tbl-fav-no-web"></app-feather-icons>
              </button-->
              <button  mat-mini-fab class="bg-white" matTooltip="Eliminar" (click)="eliminarPersona(persona.id)">
                <app-feather-icons [icon]="'trash-2'"   class="tbl-fav-delete"></app-feather-icons>
              </button>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
          <tr mat-row *matRowDef="let empresa; columns: columnsToDisplay;"
            class=""></tr>
          <!--[ngClass]="empresa.rc === 'NN' ? 'bg-cyan' : ''"-->
        </table>
        <mat-paginator [pageSizeOptions]="[25, 50, 100]" aria-label="Seleccionar página de Pedidos" class="w-100"></mat-paginator>
      </div>

    </div>
  </div>
</section>
