table {
  width: 100%;
}


tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 100%;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}



.tbl-fav-question{

}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: 3px solid;
  border-color: #FFF #FFF transparent transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after,
.loader::before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px solid;
  border-color: transparent transparent #FF3D00 #FF3D00;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotationBack 0.5s linear infinite;
  transform-origin: center center;
}
.loader::before {
  width: 32px;
  height: 32px;
  border-color: #FFF #FFF transparent transparent;
  animation: rotation 1.5s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 5000;
  opacity: 1;
  transition: .3s ease all;
  background-color: rgba(0,0,0,0.7);
}

.loader-container.hidden {
  opacity: 0;
  pointer-events: none;
}

.content {
  position: relative;
}

.show-form {
  opacity: 0;
  animation: fadeIn 1.5s forwards;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.hide-loader {
  opacity: 1;
  animation: fadeOut 1.5s forwards;
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
    display: none;
  }
}

.mat-menu-quality {
  width: 600px !important;
  height: 300px !important;
  overflow: auto;
}

::ng-deep.mat-mdc-menu-panel.mat-menu-quality {
  padding: 5px;
  min-width: 200px;
  max-width: 350px;
  overflow-x: hidden;
}
.input-container {
  position: relative;
  display: flex;
  align-items: center;
  min-width: 100px;
  max-width: 120px;
}

.circle-0 {
  width: 1rem;
  height: 1rem;
  background-color: green;
  border: 1px solid black;
  border-radius: 50%;
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
}
.circle-1 {
  width: 1rem;
  height: 1rem;
  background-color: yellow;
  border-radius: 50%;
  border: 1px solid black;
  position: absolute;
  right: 8px;
  top: 60%;
  transform: translateY(-50%);
}
.circle-2 {
  width: 1rem;
  height: 1rem;
  background-color: red;
  border: 1px solid black;
  border-radius: 50%;
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
}
