<section class="content">
  <div id="loader-detalle-cupon" class="d-flex justify-content-center align-items-center loader-container hide-loader">
    <span class="loader"></span><br>
    <h2 style="color: white;">&nbsp;Cargando...</h2>
  </div>
  <div class="container-fluid">
    <div class="block-header" *ngFor="let breadscrum of breadscrums">
      <app-breadcrumb [title]="breadscrum.title" [items]="breadscrum.items" [codigoInforme]="''"
        [active_item]="breadscrum.active">
      </app-breadcrumb>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="row counter-box p-3">
          <div class="d-flex justify-content-between  justify-content-between ">
            <h5>Caracteristicas y Detalles de su Pedido</h5>
            <div>
             
              <button id="btn-guardar-datos-empresa" mat-mini-fab class="bg-cyan shadow"
             (click)="guardar()" #tooltip="matTooltip" matTooltip="Grabar"
                [class]="idSubscriber === 0 || language === '' || idCountry === 0 || procedureType === '' ? 'bg-grey' : ''"
                [disabled]="idSubscriber === 0 || language === '' ||  idCountry === 0 || procedureType === ''  ? true : false">
                <mat-icon class="col-white">save</mat-icon>
              </button>
            </div>
          </div>
          <div class="col-md-5 d-flex align-items-center">
            <h4>Abonado : {{ subscriberName}} &nbsp; <span class="fi fi-{{subscriberFlag}}" style="font-size: 26px;"></span></h4>
          </div>
          <div class="col-md-3">
           <mat-form-field class="w-100 form-red">
              <mat-label>Nro. Referencia</mat-label>
              <input matInput placeholder="" [(ngModel)]="referenceNumber" value="">
            </mat-form-field>
          </div>
          <div class="col-md-2">
            <mat-form-field class="w-100 form-red">
              <mat-label>Idioma (*)</mat-label>
              <mat-select [(ngModel)]="language">
                <mat-option [value]="'E'">
                  <span class="fi fi-es"></span>
                  ESPAÑOL
                </mat-option>
                <mat-option [value]="'I'">
                  <span class="fi fi-us"></span>
                  INGLÉS
                </mat-option>
              </mat-select>
              <a class="btn-traduccion" style="margin: 0 .3rem 0 .3rem;" matSuffix>
                <span class="fi fi-es" style="font-size: 20px" *ngIf="language === 'E'"></span>
                <span class="fi fi-us" style="font-size: 20px" *ngIf="language  === 'I'"></span>
                <span class="fi fi-us"
                  style="background-image: url(./../../../../../../assets/images/us-es.png); font-size: 20px;"
                  *ngIf="language === 'A'"></span>
              </a>
              <mat-hint *ngIf="language === ''" style="color: red;"><i class="fa-solid fa-circle-exclamation"></i>
                &nbsp;Seleccione un idioma </mat-hint>
              <mat-hint *ngIf="language !== ''" style="color: green;"><i
                  class="fa-solid fa-circle-check"></i>&nbsp;Idioma Seleccionado</mat-hint>
            </mat-form-field>
          </div>
          <div class="col-md-2">
           <mat-form-field class="w-100 form-red">
              <mat-label>Tipo de Trámite (*)</mat-label>
              <mat-select [(ngModel)]="procedureType">
                <mat-option *ngFor="let precio of listaPrecio" [value]="precio.name">{{precio.name}} {{ precio.name === 'T1' ? 'Normal' : precio.name === 'T2' ? 'Urgente' : precio.name === 'T3' ? 'Super Urgente' : '' }}</mat-option>
              </mat-select>
              <button class="btn-traduccion" matSuffix mat-icon-button (click)="procedureType = ''; precio = 0">
                <i class="fa-solid fa-x"></i>
              </button>
              <mat-hint *ngIf="procedureType === ''" style="color: red;"><i
                  class="fa-solid fa-circle-exclamation"></i>Seleccione un T. de Trámite</mat-hint>
              <mat-hint *ngIf="procedureType !== ''" style="color: green;"><i
                  class="fa-solid fa-circle-check"></i>Trámite Seleccionado</mat-hint>
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <div class="row">
              <div class="col-md-12">
               <mat-form-field class="w-100 form-red">
                  <mat-label>Crédito Consultado</mat-label>
                  <input matInput placeholder="" value="" [(ngModel)]="queryCredit">
                </mat-form-field>
              </div>
              <div class="col-md-12">
               <mat-form-field class="w-100 form-red">
                  <mat-label>Plazos</mat-label>
                  <input matInput placeholder="" value="" [(ngModel)]="timeLimit">
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="col-md-8">
           <mat-form-field class="w-100 form-red">
              <mat-label>Datos Adicionales</mat-label>
              <textarea matInput placeholder="" style="min-height: 7rem;" [(ngModel)]="aditionalData"></textarea>
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="row counter-box p-3">
          <div class="d-flex justify-content-between ">
            <h5>Haga su Pedido</h5>
            <h6>(*) Datos Obligatorios</h6>
          </div>
          <div class="col-md-8">
           <mat-form-field class="w-100 form-red">
              <mat-label>Nombre de la Empresa (*)</mat-label>
              <input matInput placeholder="" [(ngModel)]="requestedName" value="">
            </mat-form-field>
          </div>
          <div class="col-md-4">
           <mat-form-field class="w-100 form-red">
              <mat-label>Nro de Registro Tributario (*)</mat-label>
              <input matInput placeholder="" [(ngModel)]="taxCode" value="">
            </mat-form-field>
          </div>
          <div class="col-md-6">
           <mat-form-field class="w-100 form-red">
              <mat-label>Dirección completa (*)</mat-label>
              <input matInput placeholder="" [(ngModel)]="address" value="">
            </mat-form-field>
          </div>
          <div class="col-md-6">
           <mat-form-field class="w-100 form-red">
              <mat-label>Ciudad / Provincia /Estado (*)</mat-label>
              <input matInput placeholder="" [(ngModel)]="city" value="">
            </mat-form-field>
          </div>
          <div class="col-md-5">
           <mat-form-field class="w-100 form-red">
              <mat-label>País (*)</mat-label>
              <input type="text" matInput [formControl]="controlPaises"  [matAutocomplete]="auto6" [(ngModel)]="paisSeleccionado" (ngModelChange)="cambioPais(paisSeleccionado)">
              <mat-hint [ngClass]="colorMsgPais === 'red' ? 'col-red': 'col-green'" ><i class="fa-solid fa-circle-exclamation" *ngIf="colorMsgPais === 'red'"></i><i class="fa-solid fa-circle-check" *ngIf="colorMsgPais === 'green'"></i>&nbsp;{{msgPais}}</mat-hint>
              <button class="btn-traduccion" matSuffix mat-icon-button (click)="limpiarSeleccionPais()">
                <span class="fi fi-{{iconoSeleccionado}}" style="font-size: 20px;"></span>
              </button>
              <mat-autocomplete #auto6="matAutocomplete" [displayWith]="displayPais" >
                <mat-option *ngFor="let pais of filterPais | async" [value]="pais">
                  <span class="fi fi-{{pais.bandera}}"></span>
                  {{pais.valor}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>
          <div class="col-md-7">
           <mat-form-field class="w-100 form-red">
              <mat-label>Teléfonos</mat-label>
              <input matInput placeholder="" [(ngModel)]="telephone" value="">
            </mat-form-field>
          </div>
          <div class="col-md-12">
           <mat-form-field class="w-100 form-red">
              <mat-label>Representante Legal o Contacto</mat-label>
              <input matInput placeholder="" [(ngModel)]="nameRevealed" value="">
            </mat-form-field>
          </div>
          <div class="col-md-12">
            <h6>Durante la entrevista con este cliente, podemos mencionar el nombre de su empresa, de su cliente o el país origen del pedido?</h6>
            <mat-radio-group [(ngModel)]="revealName" aria-label="Durante la entrevista con este cliente, podemos mencionar el nombre de su empresa, de su cliente o el país origen del pedido?">
              <mat-radio-button [value]="true">Sí</mat-radio-button>
              <mat-radio-button [value]="false">No</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
