<div class="container" style="max-width: 45rem;" >
  <div class="d-flex justify-content-center align-items-center loader-container" [ngClass]="{'hide-loader': !loading}">
    <span class="loader"></span><br>
    <h2 style="color: white;">&nbsp;Cargando...</h2>
  </div>
  <div class="row ">
    <div class="card">
      <div class="materialTableHeader mt-3" >
        <div class="left">
          <ul class="header-buttons-left ms-0">
            <li class="tbl-title">
              <h2>Editar Detalle de Factura</h2>
            </li>
          </ul>
        </div>
        <div class="right">
          <ul class="tbl-export-btn">
            <li class="tbl-header-btn">
              <div class="m-l-10" >
                <button mat-mini-fab class="bg-red" style="margin: 0 .5rem .5rem .5rem;"  matTooltip="Salir" (click)="cerrarDialog()">
                  <mat-icon class="col-white">logout</mat-icon>
                </button>
              </div>
            </li>
            <li class="tbl-header-btn">
              <div class="m-l-10" >
                <button mat-mini-fab class="bg-cyan" style="margin: 0 .5rem .5rem .5rem;" #tooltip="matTooltip" matTooltip="Grabar" (click)="guardar()">
                  <mat-icon class="col-white">save</mat-icon>
                </button>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-8 mb-3">
     <mat-form-field class="w-100 form-red">
        <mat-label>Informe</mat-label>
        <input matInput placeholder="" [(ngModel)]="requestedName">
      </mat-form-field>
    </div>
    <div class="col-md-4 mb-3">
      <mat-form-field color="primary" style="width: 100%;">
        <mat-label>Fecha de Entrega</mat-label>
        <input matInput [matDatepicker]="shipping_Date" [(ngModel)]="dispatchDateD" (dateChange)="setDate($event)" >
        <mat-datepicker-toggle matIconSuffix [for]="shipping_Date"></mat-datepicker-toggle>
        <mat-datepicker #shipping_Date color="primary"></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="col-md-4 mb-3">
     <mat-form-field class="w-100 form-red">
        <mat-label>Tipo de Trámite</mat-label>
        <mat-select [(ngModel)]="procedureType" placeholder="">
            <mat-option [value]="'T1'">T1</mat-option>
            <mat-option [value]="'T2'">T2</mat-option>
            <mat-option [value]="'T3'">T3</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-md-4 mb-3">
     <mat-form-field class="w-100 form-red">
        <mat-label>Precio</mat-label>
        <input matInput type="number" placeholder="" [(ngModel)]="price">
      </mat-form-field>
    </div>
  </div>
</div>
