<section class="content">
  <div id="loader-lista-cupon" class="d-flex justify-content-center align-items-center loader-container hide-loader">
    <span class="loader"></span><br>
    <h2 style="color: white;">&nbsp;Cargando...</h2>
  </div>
  <div class="container-fluid" style="overflow: auto; width: 100%;">
    <div class="block-header" *ngFor="let breadscrum of breadscrums">
      <app-breadcrumb [title]="breadscrum.title" [items]="breadscrum.items" [codigoInforme]="''" [active_item]="breadscrum.active">
      </app-breadcrumb>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card shadow" style="border-radius: 0; background-color: #dae1f3;">
          <div class="row m-0 p-0">
            <div class="col-md-4 ">
              <mat-form-field class="w-100" style="padding-top: 1rem; padding-left: 1rem;" >
                <mat-label>Razón Social</mat-label>
                <input matInput [(ngModel)]="name" >
                <button matSuffix mat-icon-button color="primary" style="background-color: rgba(0,0,0,0);" *ngIf="name !== ''" (click)="name = ''" #tooltip="matTooltip" matTooltip="Limpiar">
                  <i class="fa-solid fa-xmark" style="color: black; font-size: 20px;"></i>
                </button>
              </mat-form-field>
            </div>
            <div class="col-md-3 ">
              <mat-form-field class="w-100" style="padding-top: 1rem; padding-left: 1rem;">
                <mat-label>Registro Tributario</mat-label>
                <input matInput [(ngModel)]="taxCode" >
                <button matSuffix mat-icon-button color="primary" style="background-color: rgba(0,0,0,0);" *ngIf="name !== ''" (click)="name = ''" #tooltip="matTooltip" matTooltip="Limpiar">
                  <i class="fa-solid fa-xmark" style="color: black; font-size: 20px;"></i>
                </button>
              </mat-form-field>
            </div>
            <div class="col-md-3">
              <mat-form-field class="w-100" style="padding-top: 1rem; padding-left: 1rem;">
                <mat-label>País</mat-label>
                <input type="text" matInput [formControl]="controlPaises"  [matAutocomplete]="auto6" [(ngModel)]="paisSeleccionado" (ngModelChange)="cambioPais(paisSeleccionado)">
                <mat-hint [ngClass]="colorMsgPais === 'red' ? 'col-red': 'col-green'" ><i class="fa-solid fa-circle-exclamation" *ngIf="colorMsgPais === 'red'"></i><i class="fa-solid fa-circle-check" *ngIf="colorMsgPais === 'green'"></i>&nbsp;{{msgPais}}</mat-hint>
                <button class="btn-traduccion" matSuffix mat-icon-button (click)="limpiarSeleccionPais()">
                  <span class="fi fi-{{iconoSeleccionado}}" style="font-size: 20px;"></span>
                </button>
                <mat-autocomplete #auto6="matAutocomplete" [displayWith]="displayPais" >
                  <mat-option *ngFor="let pais of filterPais | async" [value]="pais">
                    <span class="fi fi-{{pais.bandera}}"></span>
                    {{pais.valor}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </div>
            <div class="col-md-2 d-flex align-items-center justify-content-center">
              <div class="" matTooltip="BUSCAR" style="margin: 0 .3rem 0 .3rem">
                <button mat-mini-fab color="primary" (click)="buscar()">
                  <mat-icon class="col-white">search</mat-icon>
                </button>
              </div>
              <div class="" matTooltip="LIMPIAR" style="margin: 0 .3rem 0 .3rem">
                <button mat-mini-fab class="bg-red" (click)="limpiar()">
                  <mat-icon class="col-white">cleaning_services</mat-icon>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12" style="overflow-x: auto;">
        <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8" matSort>

          <ng-container matColumnDef="name" >
          <th mat-header-cell *matHeaderCellDef  mat-sort-header class="text-left"> Razón Social</th>
          <td mat-cell *matCellDef="let empresa" class="text-left">
            <b>{{empresa.name}}</b><br>
            <b>{{empresa.taxTypeName === '' || empresa.taxTypeName === null ? 'Reg. Tributario' : empresa.taxTypeName }} :</b>  &nbsp; {{empresa.taxTypeCode}}<br>
            <b>Dirección : </b> {{empresa.address}}<br>
            <b>Idiomas Disponibles : </b> {{empresa.language === 'I' ? 'Inglés' : empresa.language === 'E' ? 'Español' :empresa.language === 'A' ? 'Español / Inglés' : ''}}
            <span class="fi fi-es" style="font-size: 20px;" *ngIf="empresa.language === 'E'"></span>
            <span class="fi fi-us" style="font-size: 20px;" *ngIf="empresa.language === 'I'"></span>
            <span class="fi fi-us" style="font-size: 20px; background-image: url(./../../../../../../assets/images/us-es.png);" *ngIf="empresa.language === 'A'"></span><br>
            <b>Balance General : </b> {{empresa.haveBalance}} {{empresa.balanceDate !== '' && empresa.balanceDate !== null ? '(AL ' + empresa.balanceDate + ')' : ''}}

            </td>
          </ng-container>
          <ng-container matColumnDef="country" >
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center"> País</th>
          <td mat-cell *matCellDef="let empresa" class="" style="min-width: 15rem;"><b>{{empresa.country}}<span class="fi fi-{{empresa.flagCountry}}" style="font-size: 20px;"></span></b></td>
          </ng-container>
          <ng-container matColumnDef="place" >
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center"> Localidad</th>
            <td mat-cell *matCellDef="let empresa" class="text-center">{{empresa.place}}</td>
          </ng-container>
          <ng-container matColumnDef="lastSearched">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center"> Datos Al</th>
            <td mat-cell *matCellDef="let empresa" class="text-center">{{empresa.lastSearched}}</td>
          </ng-container>

          <ng-container matColumnDef="acciones" >
            <th mat-header-cell *matHeaderCellDef  class="text-center" style="min-width: 16rem;"> Acciones </th>
            <td mat-cell *matCellDef="let empresa" class="text-center ">
              <a mat-raised-button class="btn bg-white"  (click)="confirmarPedido(empresa.id)">
                <app-feather-icons [icon]="'arrow-right'" class="tbl-fav-edit"></app-feather-icons> Continuar con su pedido
              </a>
              <!--button  mat-mini-fab class="bg-white" matTooltip="Generar Documento" (click)="generarDocumento(empresa.id, empresa.code)">
                <app-feather-icons [icon]="'file-text'" class="tbl-fav-pdf"></app-feather-icons>
              </!--button-->
              <button mat-raised-button [routerLink]="'../offline/'+empresa.id" class="bg-white" >
                <app-feather-icons [icon]="'refresh-cw'" class="tbl-fav-web"></app-feather-icons> Solicitar actualización
              </button>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
          <tr mat-row *matRowDef="let empresa; columns: columnsToDisplay;"
            class=""></tr>
          <!--[ngClass]="empresa.rc === 'NN' ? 'bg-cyan' : ''"-->
        </table>
        <mat-paginator [pageSizeOptions]="[25, 50, 100]" aria-label="Seleccionar página de Pedidos" class="w-100"></mat-paginator>
      </div>
    </div>
  </div>
</section>
