<section class="content">
  <div class="d-flex justify-content-center align-items-center loader-container" [ngClass]="{'hide-loader': !loading}">
    <span class="loader"></span><br>
    <h2 style="color: white;">&nbsp;Cargando...</h2>
  </div>
  <div class="container-fluid" style="overflow: auto; width: 100%;">
    <div class="block-header" *ngFor="let breadscrum of breadscrums">
      <app-breadcrumb [title]="breadscrum.title" [items]="breadscrum.items" [codigoInforme]="''" [active_item]="breadscrum.active">
      </app-breadcrumb>
    </div>
  </div>
  <div class="row m-0 p-1">
    <div class="col-md-4 ">
      <mat-tab-group class="card card-body" (selectedTabChange)="onTabChange($event)" >
        <mat-tab label="Por Facturar" (click)="type = 'PF'">
          <br>
          <div class="row m-0 p-0 ">
            <div class="col-md-6">
              <mat-form-field color="primary" class="w-100 form-red">
                <mat-label>Mes</mat-label>
                <mat-select [(ngModel)]="monthPF" placeholder="" >
                    <mat-option [value]="1">Enero</mat-option>
                    <mat-option [value]="2">Febrero</mat-option>
                    <mat-option [value]="3">Marzo</mat-option>
                    <mat-option [value]="4">Abril</mat-option>
                    <mat-option [value]="5">Mayo</mat-option>
                    <mat-option [value]="6">Junio</mat-option>
                    <mat-option [value]="7">Julio</mat-option>
                    <mat-option [value]="8">Agosto</mat-option>
                    <mat-option [value]="9">Setiembre</mat-option>
                    <mat-option [value]="10">Octubre</mat-option>
                    <mat-option [value]="11">Noviembre</mat-option>
                    <mat-option [value]="12">Diciembre</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field color="primary" class="w-100 form-red">
                <mat-label>Año</mat-label>
                <mat-select [(ngModel)]="yearPF">
                  <mat-option [value]="item" *ngFor="let item of years">{{item}}</mat-option>
              </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-2">
              <button mat-mini-fab class="bg-blue" (click)="buscarPorFacturar()" style="margin: .5rem 1rem 0 0rem;" matTooltip="Buscar">
                <mat-icon class="col-white">search</mat-icon>
              </button>
            </div>
          </div>
          <div class="row m-0 p-0">
            <table mat-table [dataSource]="dataSourcePF" class="mat-elevation-z8 w-100" >
              <ng-container matColumnDef="code">
                <th mat-header-cell *matHeaderCellDef class="text-center" style="width: 25%; font-size: 18px;"> Código </th>
                <td mat-cell *matCellDef="let subscriber" class="text-center" >{{subscriber.code}}</td>
              </ng-container>
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef class="text-center" style="width: 75%; font-size: 18px;"> Nombre</th>
                <td mat-cell *matCellDef="let subscriber" class="text-center" > {{subscriber.name}} </td>
              </ng-container>
              <ng-container matColumnDef="opciones">
                <th mat-header-cell *matHeaderCellDef class="text-left" style="width: 20%; font-size: 18px;"> </th>
                <td mat-cell *matCellDef="let invoice" class="text-left" >
                  <button  mat-mini-fab class="bg-white" matTooltip="Seleccionar"  (click)="selectSubscriberByBill(invoice.idSubscriber, invoice.history)">
                    <app-feather-icons [icon]="'check-circle'" class="tbl-fav-web"></app-feather-icons>
                  </button>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="columnsDS"></tr>
              <tr mat-row style="{{row.idSubscriber === idSubscriber ? 'background-color: rgba(0, 0, 0, 0.2);' : ''}}" *matRowDef="let row; columns: columnsDS;"></tr>
            </table>
          </div>
        </mat-tab>
        <mat-tab label="Por Cobrar" (click)="type = 'PC'">
          <br>
          <div class="row m-0 p-0 ">
            <div class="col-md-6">
              <mat-form-field color="primary" class="w-100 form-red">
                <mat-label>Mes</mat-label>
                <mat-select [(ngModel)]="monthPC" placeholder="">
                    <mat-option [value]="1">Enero</mat-option>
                    <mat-option [value]="2">Febrero</mat-option>
                    <mat-option [value]="3">Marzo</mat-option>
                    <mat-option [value]="4">Abril</mat-option>
                    <mat-option [value]="5">Mayo</mat-option>
                    <mat-option [value]="6">Junio</mat-option>
                    <mat-option [value]="7">Julio</mat-option>
                    <mat-option [value]="8">Agosto</mat-option>
                    <mat-option [value]="9">Setiembre</mat-option>
                    <mat-option [value]="10">Octubre</mat-option>
                    <mat-option [value]="11">Noviembre</mat-option>
                    <mat-option [value]="12">Diciembre</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field color="primary" class="w-100 form-red">
                <mat-label>Año</mat-label>
                <input matInput type="number" placeholder="" [(ngModel)]="yearPC">
              </mat-form-field>
            </div>
            <div class="col-md-2">
              <button mat-mini-fab class="bg-blue" style="margin: .5rem 1rem 0 0rem;" matTooltip="Buscar" (click)="buscarPorCobrar()">
                <mat-icon class="col-white">search</mat-icon>
              </button>
            </div>
          </div>
          <div class="row m-0 p-0">
            <table mat-table [dataSource]="dataSourcePC" class="mat-elevation-z8 w-100" >
              <ng-container matColumnDef="code">
                <th mat-header-cell *matHeaderCellDef class="text-center" style="width: 25%; font-size: 18px;"> Código </th>
                <td mat-cell *matCellDef="let subscriber" class="text-center" >{{subscriber.subscriberCode}}</td>
              </ng-container>
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef class="text-center" style="width: 75%; font-size: 18px;"> Nombre</th>
                <td mat-cell *matCellDef="let subscriber" class="text-center" > {{subscriber.subscriberName}} </td>
              </ng-container>

              <ng-container matColumnDef="opciones">
                <th mat-header-cell *matHeaderCellDef class="text-left" style="width: 20%; font-size: 18px;"> </th>
                <td mat-cell *matCellDef="let invoice" class="text-left" >
                  <button  mat-mini-fab class="bg-white" matTooltip="Seleccionar"  (click)="selectSubscriberToCollect(invoice)">
                    <app-feather-icons [icon]="'check-circle'" class="tbl-fav-web"></app-feather-icons>
                  </button>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="columnsDS"></tr>
              <tr mat-row style="{{row.idSubscriber === idSubscriber ? 'background-color: rgba(0, 0, 0, 0.2);' : ''}}" *matRowDef="let row; columns: columnsDS;"></tr>
            </table>
          </div>
        </mat-tab>
        <mat-tab label="Cobradas">
          <br>
          <div class="row m-0 p-0 ">
            <div class="col-md-6">
              <mat-form-field color="primary" class="w-100 form-red">
                <mat-label>Mes</mat-label>
                <mat-select [(ngModel)]="monthC" placeholder="">
                    <mat-option [value]="1">Enero</mat-option>
                    <mat-option [value]="2">Febrero</mat-option>
                    <mat-option [value]="3">Marzo</mat-option>
                    <mat-option [value]="4">Abril</mat-option>
                    <mat-option [value]="5">Mayo</mat-option>
                    <mat-option [value]="6">Junio</mat-option>
                    <mat-option [value]="7">Julio</mat-option>
                    <mat-option [value]="8">Agosto</mat-option>
                    <mat-option [value]="9">Setiembre</mat-option>
                    <mat-option [value]="10">Octubre</mat-option>
                    <mat-option [value]="11">Noviembre</mat-option>
                    <mat-option [value]="12">Diciembre</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field color="primary" class="w-100 form-red">
                <mat-label>Año</mat-label>
                <input matInput type="number" placeholder="" [(ngModel)]="yearC">
              </mat-form-field>
            </div>
            <div class="col-md-2">
              <button mat-mini-fab class="bg-blue" style="margin: .5rem 1rem 0 0rem;" matTooltip="Buscar" (click)="buscarCobradas()">
                <mat-icon class="col-white">search</mat-icon>
              </button>
            </div>
          </div>
          <div class="row m-0 p-0">
            <table mat-table [dataSource]="dataSourceCO" class="mat-elevation-z8 w-100" >
              <ng-container matColumnDef="code">
                <th mat-header-cell *matHeaderCellDef class="text-center" style="width: 25%; font-size: 18px;"> Código </th>
                <td mat-cell *matCellDef="let subscriber" class="text-center" >{{subscriber.subscriberCode}}</td>
              </ng-container>
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef class="text-center" style="width: 75%; font-size: 18px;"> Nombre</th>
                <td mat-cell *matCellDef="let subscriber" class="text-center" > {{subscriber.subscriberName}} </td>
              </ng-container>

              <ng-container matColumnDef="opciones">
                <th mat-header-cell *matHeaderCellDef class="text-left" style="width: 20%; font-size: 18px;"> </th>
                <td mat-cell *matCellDef="let invoice" class="text-left" >
                  <button  mat-mini-fab class="bg-white" matTooltip="Seleccionar"  (click)="selectSubscriberPaids(invoice)">
                    <app-feather-icons [icon]="'check-circle'" class="tbl-fav-web"></app-feather-icons>
                  </button>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="columnsDS"></tr>
              <tr mat-row style="{{row.idSubscriber === idSubscriber ? 'background-color: rgba(0, 0, 0, 0.2);' : ''}}"  *matRowDef="let row; columns: columnsDS;"></tr>
            </table>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
    <div class="col-md-8 card card-body">
      <div class="row">
        <div class="col-md-12">
         <div class="d-flex justify-content-between">
            <div>
              <h5>Facturación</h5>
            </div>
            <div class="d-flex">
              <!--button mat-mini-fab  *ngIf="type === 'PF'" [ngClass]="selection1.selected.length > 0 ? 'bg-blue' : 'bg-grey'" [disabled]="selection1.selected.length === 0" style="margin: 0 .5rem 0 .5rem;"  matTooltip="Guardar Tramo" (click)="descargarTramo()">
                <mat-icon class="col-white">description</mat-icon>
              </button-->
              <button mat-mini-fab [ngClass]="selection1.selected.length > 0 && invoiceNumber !== '' ? 'bg-cyan' : 'bg-grey'" [disabled]="selection1.selected.length === 0 || invoiceNumber === '' " *ngIf="type === 'PF'" style="margin: 0 .5rem 0 .5rem;"  matTooltip="Grabar o Modificar Factura" (click)="grabarFactura()">
                <mat-icon class="col-white">save</mat-icon>
              </button>
              <button mat-raised-button class="bg-red" style="margin: 0 .5rem 0 .5rem;" [ngClass]="idSubscriberInvoice > 0 ? 'bg-red' : 'bg-grey'" [disabled]="idSubscriberInvoice === 0" *ngIf="type === 'PC'" (click)="cancelarFactura()">
                Cancelar Factura
              </button>
              <!--button mat-mini-fab class="bg-orange" style="margin: 0 .5rem 0 .5rem;" matTooltip="Imprimir Factura">
                <mat-icon class="col-white">print</mat-icon>
              </button>
              <button mat-mini-fab class="bg-green" style="margin: 0 .5rem 0 .5rem;" matTooltip="Exportar a Excel">
                <mat-icon class="col-white">file_open</mat-icon>
              </button-->
            </div>
          </div>
          <hr>
        </div>
        <div class="col-md-4">
         <mat-form-field class="w-100 form-red">
            <mat-label>Factura N°</mat-label>
            <input matInput placeholder="" [(ngModel)]="invoiceNumber">
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field color="primary" style="width: 100%;">
            <mat-label>Fecha de Facturación</mat-label>
            <input matInput [matDatepicker]="invoice_Date" [(ngModel)]="invoiceDate">
            <mat-datepicker-toggle matIconSuffix [for]="invoice_Date"></mat-datepicker-toggle>
            <mat-datepicker #invoice_Date color="primary"></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-md-2">
          <mat-form-field class="w-100 form-red">
            <mat-label>Idioma</mat-label>
            <mat-select [(ngModel)]="language">
              <mat-option [value]="'E'">
                <span class="fi fi-es"></span>
                ESPAÑOL
              </mat-option>
              <mat-option [value]="'I'">
                <span class="fi fi-us"></span>
                INGLÉS
              </mat-option>
            </mat-select>
            <button class="btn-traduccion" matSuffix mat-icon-button>
              <span class="fi fi-es" style="font-size: 24px;" *ngIf="language === 'E'"></span>
              <span class="fi fi-us" style="font-size: 24px;" *ngIf="language  === 'I'"></span>
            </button>
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="w-100 form-red">
            <mat-label>Moneda</mat-label>
            <mat-select [(ngModel)]="idCurrency">
              <mat-option [value]="31">
                S/.-Sol(PEN)
              </mat-option>
              <mat-option [value]="1">
                US$-Dólar estadounidense(USD)
              </mat-option>
              <mat-option [value]="2">
                €-Euro(EUR)
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-6">
         <mat-form-field class="w-100 form-red">
            <mat-label>Abonado</mat-label>
            <input matInput placeholder="" [(ngModel)]="name">
          </mat-form-field>
        </div>
        <div class="col-md-2">
         <mat-form-field class="w-100 form-red">
            <mat-label>Código</mat-label>
            <input matInput placeholder="" [(ngModel)]="code">
          </mat-form-field>
        </div>
        <div class="col-md-4">
         <mat-form-field class="w-100 form-red">
            <mat-label>País</mat-label>
            <mat-select [(ngModel)]="idCountry" placeholder="">
              <mat-option *ngFor="let pais of paises" [value]="pais.id" (onSelectionChange)="bandera = pais.bandera">
                <span class="fi fi-{{pais.bandera}}"></span>
                {{pais.valor}}

              </mat-option>
            </mat-select>
            <button class="btn-traduccion" matSuffix mat-icon-button>
              <span class="fi fi-{{bandera}}" style="font-size: 20px;"></span>
            </button>
          </mat-form-field>
        </div>


        <div class="col-md-6">
         <mat-form-field class="w-100 form-red">
            <mat-label>Dirección</mat-label>
            <input matInput placeholder="" [(ngModel)]="address">
          </mat-form-field>
        </div>
        <div [class]="idCurrency === 1 ? 'col-md-4' : 'col-md-6'">
         <mat-form-field class="w-100 form-red">
            <mat-label>Reg. Tributario</mat-label>
            <input matInput placeholder="" [(ngModel)]="taxTypeCode">
          </mat-form-field>
        </div>
        <div class="col-md-2" *ngIf="idCurrency === 1">
         <mat-form-field class="w-100 form-red">
            <mat-label>T. C. Sol - Dolar</mat-label>
            <input matInput placeholder="" [(ngModel)]="exchangeRate" type="number">
          </mat-form-field>
        </div>
        <div class="col-md-6">
         <mat-form-field class="w-100 form-red">
            <mat-label>Atención</mat-label>
            <input matInput placeholder="" [(ngModel)]="attendedByName">
          </mat-form-field>
        </div>
        <div class="col-md-6">
         <mat-form-field class="w-100 form-red">
            <mat-label>Correo</mat-label>
            <input matInput placeholder="" [(ngModel)]="attendedByEmail">
          </mat-form-field>
        </div>
        <div class="col-md-2" *ngIf="type === 'PF'" >
         <mat-form-field class="w-100 form-red">
            <mat-label>Cantidad de Cupones</mat-label>
            <input matInput placeholder="" [(ngModel)]="totalQuantity" disabled="true">
          </mat-form-field>
        </div>
        <div class="col-md-2" *ngIf="type === 'PF'">
         <mat-form-field class="w-100 form-red">
            <mat-label>Monto Total</mat-label>
            <input matInput placeholder="" [(ngModel)]="totalSelectedPrice1" disabled="true">
          </mat-form-field>
        </div>
        <div class="col-md-2" *ngIf="type === 'PC' || type === 'CO'" >
         <mat-form-field class="w-100 form-red">
            <mat-label>Cantidad de Cupones</mat-label>
            <input matInput placeholder="" [(ngModel)]="quantity" disabled="true">
          </mat-form-field>
        </div>
        <div class="col-md-2" *ngIf="type === 'PC' || type === 'CO'">
         <mat-form-field class="w-100 form-red">
            <mat-label>Monto Total</mat-label>
            <input matInput placeholder="" [(ngModel)]="totalAmount" disabled="true">
          </mat-form-field>
        </div>

        <div class="col-md-3"  *ngIf="type === 'CO'">
          <mat-form-field color="primary" style="width: 100%;">
            <mat-label>Fecha de Cancelación</mat-label>
            <input matInput [matDatepicker]="cancel_Date" [(ngModel)]="cancelDate" disabled="true">
            <mat-datepicker-toggle matIconSuffix [for]="cancel_Date"></mat-datepicker-toggle>
            <mat-datepicker #cancel_Date color="primary"></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="col-md-12 card card-body" *ngIf="type === 'PF'">
      <!--div class="row">
        <div class="col-md-12">
          <div class="d-flex justify-content-between">
            <div >
              <h5 >Cupones</h5>
            </div>
            <div class="d-flex">
              <button mat-mini-fab class="bg-cyan" style="margin: 0 .5rem 0 .5rem;" matTooltip="Grabar">
                <mat-icon class="col-white">save</mat-icon>
              </button>
            </div>
          </div>
          <hr>
        </div>
        <div class="col-md-4">
          <mat-form-field color="primary" style="width: 100%;">
            <mat-label>Fecha de Inicio</mat-label>
            <input matInput [matDatepicker]="start_Date" [(ngModel)]="startDate">
            <mat-datepicker-toggle matIconSuffix [for]="start_Date"></mat-datepicker-toggle>
            <mat-datepicker #start_Date color="primary"></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field color="primary" style="width: 100%;">
            <mat-label>Fecha de Término</mat-label>
            <input matInput [matDatepicker]="end_Date" [(ngModel)]="endDate">
            <mat-datepicker-toggle matIconSuffix [for]="end_Date"></mat-datepicker-toggle>
            <mat-datepicker #end_Date color="primary"></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-md-4"></div>
        <h6>Saldos</h6>
        <div class="col-md-3">
         <mat-form-field class="w-100 form-red">
            <mat-label>Saldo de Cupones</mat-label>
            <input matInput placeholder="" [(ngModel)]="availableTicket" >
          </mat-form-field>
        </div>
        <div class="col-md-2">
         <mat-form-field class="w-100 form-red">
            <mat-label>Precio por Cupón</mat-label>
            <input matInput placeholder="" [(ngModel)]="pricePerTicket" >
          </mat-form-field>
        </div>
        <div class="col-md-3">
         <mat-form-field class="w-100 form-red">
            <mat-label>Monto</mat-label>
            <input matInput placeholder="" [(ngModel)]="totalAmount" >
          </mat-form-field>
        </div>
        <div class="col-md-1">
          <mat-checkbox class="example-margin" [(ngModel)]="igvCheck">IGV</mat-checkbox>
        </div>
        <div class="col-md-3">
         <mat-form-field class="w-100 form-red">
            <mat-label>Total General</mat-label>
            <input matInput placeholder="" [(ngModel)]="totalGeneral" >
          </mat-form-field>
        </div>
      </div-->
      <div class="row" >
        <table mat-table  [dataSource]="dataSourceDetailsPF" multiTemplateDataRows class="mat-elevation-z8" matSort>
          <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
            </th>
            <td mat-cell *matCellDef="let row">
              <mat-checkbox (click)="$event.stopPropagation();"
              (change)="$event ? onCheckboxChange1(row) : null"
              [checked]="selection1.isSelected(row)"
              [aria-label]="checkboxLabel1(row)">
              </mat-checkbox>
            </td>
          </ng-container>
          <ng-container matColumnDef="fecha" >
          <th mat-header-cell *matHeaderCellDef class="text-center"> Fecha de Compra</th>
          <td mat-cell *matCellDef="let historial" class="text-center">{{historial.purchaseDate}}</td>
          </ng-container>
          <ng-container matColumnDef="monto" >
            <th mat-header-cell *matHeaderCellDef  class="text-center"> Monto de Cupones</th>
            <td mat-cell *matCellDef="let historial" class="text-center">
              {{historial.couponAmount}}&nbsp;<i class="fa-solid fa-ticket"></i>
            </td>
          </ng-container>
          <ng-container matColumnDef="precioUnidad" >
            <th mat-header-cell *matHeaderCellDef class="text-center"> Precio por Unidad</th>
            <td mat-cell *matCellDef="let historial" class="text-center">{{historial.unitPrice}} USD</td>
          </ng-container>
          <ng-container matColumnDef="precioTotal" >
            <th mat-header-cell *matHeaderCellDef class="text-center"> Precio Total</th>
            <td mat-cell *matCellDef="let historial" class="text-center">{{historial.totalPrice}} USD</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
          <tr mat-row *matRowDef="let empresa; columns: columnsToDisplay;"
            class=""></tr>
        </table>

      </div>
      <div class="col-md-9"></div>
      <div class="col-md-3" *ngIf="dataSourceDetailsPF.data.length > 0">
        <h5>Valor Venta: {{totalSelectedPrice1 | number: '1.2-2'}}</h5>
        <mat-checkbox class="example-margin" [(ngModel)]="igvFlag" (click)="updateTotalPrice1()"><h5>IGV : {{igv1 | number: '1.2-2'}}</h5></mat-checkbox>
        <h5>Total General: {{(totalSelectedPrice1 + igv1) | number: '1.2-2'}}</h5>


      </div>
    </div>
  </div>
</section>
