<div mat-dialog-content class="row m-0 p-0" style="min-width: 40rem; overflow: hidden; ">
  <div id="loader" class="d-flex justify-content-center align-items-center loader-container" [ngClass]="{'hide-loader': !loading}">
    <span class="loader"></span><br>
    <h2 style="color: white;">&nbsp;Cargando...</h2>
  </div>
  <div class="col-md-12">
    <div class="card" style="max-height: 700px; overflow-y: auto;">
      <div class="header">
        <div class="materialTableHeader mt-3">
          <div class="left">
            <ul class="header-buttons-left ms-0">
              <li class="tbl-title">
                <h5 style="font-size: 24px;">Complemento de Referencias</h5>
              </li>
            </ul>
          </div>
          <div class="right">
            <ul class="tbl-export-btn">
              <li class="tbl-header-btn">
                <div class="m-l-10">
                  <button mat-icon-button  class="btn bg-red "  (click)="salir()" #tooltip="matTooltip" matTooltip="Salir">
                    <mat-icon>logout</mat-icon>
                  </button>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="body m-0 p-0">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <h5>Se enviara un correo a Cecilia Rodriguez.</h5>
              <h5>Numero de Orden: {{numOrden}}</h5>
            </div>
            <div class="col-md-12">
             <mat-form-field class="w-100 form-red">
                <mat-label>Mensaje (Indicar los cambios que se hicieron)</mat-label>
                <textarea matInput [(ngModel)]="message" style="min-height: 12rem;"></textarea>
              </mat-form-field>
            </div>
            <div class="col-md-12 d-flex justify-content-center">
              <button mat-raised-button class="bg-cyan" (click)="enviar()">Enviar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
