<div mat-dialog-content class="row m-0 p-0" style="min-width: 60rem; min-height: 40rem; overflow: hidden; ">
  <div id="loader" class="d-flex justify-content-center align-items-center loader-container" [ngClass]="{'hide-loader': !loading}">
    <span class="loader"></span><br>
    <h2 style="color: white;">&nbsp;Cargando...</h2>
  </div>
    <div class="col-md-12">
      <div class="card" style="max-height: 700px; overflow-y: auto;">
        <div class="header">
          <div class="materialTableHeader mt-3">
            <div class="left">
              <ul class="header-buttons-left ms-0">
                <li class="tbl-title">
                  <h5 style="font-size: 24px;">Historial del Pedido</h5>
                </li>
              </ul>
            </div>
            <div class="right">
              <ul class="tbl-export-btn">
                <li class="tbl-header-btn">
                  <div class="m-l-10">
                    <button mat-icon-button  class="btn bg-red "  (click)="salir()" #tooltip="matTooltip" matTooltip="Volver">
                      <mat-icon>logout</mat-icon>
                    </button>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="body">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <ul class="left-timeline">
                  <li *ngFor="let item of timeLine">
                    <time class="left-time" datetime="2017-11-04T18:30"><span  class="hidden">{{item.date}}</span>
                      <span class="">{{item.time}}</span>
                    </time>
                    <div class="left-icon" [style]="item.flag === true ? 'background-color: green;' : 'background-color: red;'" >
                    </div>
                    <div class="left-label empty">
                      <span class="progress-percent label {{item.color}} mb-2 shadow" style="width: 200px;{{item.color === 'label' ? 'color : black;' : 'color : white;'}}" >
                        {{item.status}}
                      </span><br>
                      <span>{{item.assignedTo !== null && item.assignedTo !== '' ? item.assignedTo + ' : ' : '' }} {{item.assignedToName}} </span>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
